.divGeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divAudio{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.audioIcon{
    margin: 0 auto;
    margin-bottom: 2rem;
}

.minutes{
    margin: 0 auto;
}